/* 야생의 사자만 선택 - 배경을 "red" */
p.lion {
    background-color: red;
}

/* 사파리 안의 사자만 선택 - 배경을 "greenyellow" */
.zoo ul .lion {
    background-color: greenyellow;
}

/* 호랑이만 선택 - 배경을 "yellow" */
#tiger {
    background-color: yellow;
}

/* 사자를 전부 선택 - 글자를 "sienna" */
.lion {
    color: sienna;
}

/* 동물원 안의 사자만 선택 - 폰트를 두껍게 */
.zoo .lion {
    font-weight: bold;
}

/* 호랑이 뒤에 있는 팬더를 선택 - 배경을 "skyblue" */
#tiger + li {
    background-color: skyblue;
}

/* 사파리 사자 뒤에 있는 사육사를 모두 선택 - 배경을 "orange" */
.zoo ul .lion + li {
    background-color: orange;
}
