<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '회원가입' })%>
  <body>
    <h1>회원가입</h1>
    <script>
      function register() {
        const data = {
          userid: document.getElementById("userid").value,
          pw: document.getElementById("password").value,
          name: document.getElementById("nickname").value,
        };

        axios.post("/user/signup", data).then((response) => {
          if (response.data.success) {
            // 회원가입 성공 시 로그인 페이지로 이동
            alert("회원가입 성공");
            document.location.href = "/user/signin";
          } else {
            // 회원가입 실패 시 알림 표시
            alert("회원가입 실패");
          }
        });
      }
    </script>

    <form name="form_register">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <label for="nickname">Name</label>
      <input id="nickname" type="text" name="name" required /><br />
      <button type="button" onclick="register();">Register</button>
    </form>

    <!-- 로그인 페이지로 이동 -->
    <a href="/user/signin">Login</a>
  </body>
</html>
