<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '로그인' })%>
  <body>
    <h1>로그인</h1>
    <script>
      function login() {
        const data = {
          userid: document.getElementById("userid").value,
          pw: document.getElementById("password").value,
        };

        axios.post("/user/signin", data).then((response) => {
          if (response.data.success) {
            // 로그인 성공 시 사용자 정보를 form에 삽입 후 제출
            document.forms["form_info"].userid.value =
              response.data.user.userid;
            document.forms["form_info"].submit();
          } else {
            // 로그인 실패 시 알림 및 입력값 초기화
            alert("로그인 실패");
            document.forms["form_login"].reset();
          }
        });
      }
    </script>

    <form name="form_info" action="/user/profile" method="POST">
      <input type="hidden" name="userid" />
    </form>

    <form name="form_login">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <button type="button" onclick="login();">Login</button>
    </form>

    <!-- 회원가입 페이지로 이동 -->
    <a href="/user/signup">Register</a>
  </body>
</html>
